.info {
	position: relative;
}

.bg-info {
	background: linear-gradient(#222 5%, rgba(33, 37, 41, 0.6), #222),
		url("./../../../assets/img/gioco_2.png");
	background-size: cover;
	background-position: center;
}

.info-title {
	position: relative;
	border-bottom: 2px solid cyan;
}

.info-title::before {
	position: absolute;
	content: "";
	top: 8px;
	left: -25px;
	width: 15px;
	height: 15px;
	background-color: cyan;
	border: 1px solid black;
	transform: rotate(45deg);
}

@media screen and(min-width:992px) {
	.info-title {
		border-bottom: 2px solid cyan;
		padding-left: 10px;
	}
	.info-title::before {
		top: -8px;
		left: 25px;
	}
}
